#create-news-container{
    display:grid;
    text-align: center;
    color:#fff;
    margin: 20px;
    border-radius: 12px;
    padding: 10px;
}

#textIntro, #body, #title, #imgIcon{
    background-color: #2d2f30;
    color: #fff;
    border: 1px solid black; /* Añade un borde negro de 1 píxel de grosor y sólido */
    border-radius: 5px; /* Bordes redondeados */
    padding: 1%;
    height: 30px;
    width: 700px;
    min-width: 400px;
    min-height: 30px;
}

#body{
    min-height: 500px;
    min-width: 700px;
    max-width: 700px;
}

h2{
    text-align: center;
    margin: 10px;
    font-size: 45px;
}

#submit{
    background-color: #2d2f30;
    color: #fff;
    border: 1px solid black; /* Añade un borde negro de 1 píxel de grosor y sólido */
    border-radius: 24px; /* Bordes redondeados */
    padding: 1%;
    width: 700px;
}

#submit:hover{

    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
    cursor: pointer;
}

#date{
    position:static;
   margin: 0px;
   background-color: #2d2f30;
   color: #fff;
}